<section class="content-header">
	<h1>Employee Leave Entitlement</h1>
	<ol class="breadcrumb">
		<li><a> Leave Management</a></li>
		<li><a >Employee Leave Entitlement</a></li>
		<li class="active">Employee Leave Entitlement List</li>
	</ol>
</section>
<section class="content"
	ng-init="getAllLeavePeriods();getAllLeaveTypes();getReporties()">

	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<div class="row">
						<div class="col col-md-6">
							<h3 class="box-title">Employee Leave Entitlement List</h3>
						</div>
					</div>
				</div>
				<!-- /.box-header -->

				<!-- form start -->

				<div class="clear"></div>
				<div class="row">
					<div class="box-body">
					<div class="form-group">
						<label for="email" class="control-label col-xs-1 ">Leave
							Period <!-- <span style="color: red"
							ng-show="leavePeriod==undefined ||leavePeriod==''">*</span> -->
						</label>
						<div class="col-xs-2">
							<select class="form-control" ng-model="leavePeriod"
								ng-options="leavePeriod as leavePeriod.startDate+' to '+leavePeriod.endDate for leavePeriod in leavePeriodList">
								<option value="">All</option>
							</select>

						</div>



						<label for="pwd" class="control-label col-xs-1 ">Leave Type </label>
						<div class="col-xs-2">
							<select class="form-control" ng-model="state"
								ng-options="leaveType as leaveType.name for leaveType in leaveTypeList">
								<option value="">All</option>
							</select>
						</div>

						<label for="email" class="control-label col-xs-1 ">Employee
							 <!-- <span style="color: red"
							ng-show="leavePeriod==undefined ||leavePeriod==''">*</span> -->
						</label>
						<div class="col-xs-3">
							<input type="text" ng-model="employee"
										uib-typeahead="employee as employee.fullName for employee in employeeList| filter:$viewValue "
										class="form-control">
						</div>
						
						<div class="col-xs-2">
							<button type="submit" class="btn btn-success"
								ng-click="SearchLeaveEntitlements()">Search</button>
						</div>
					</div>

				</div>

				</div>
				<div class="clear"></div>

				<div class="box-body">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>S.No</th>
							<th>Leave Period</th>
							<th>Employee</th>
							<th>Unit</th>
							<th>Leave Type</th>
							<th>Entitlement</th>
							<th>Leaves Taken</th>
							<th>Leaves Balance</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="holiday in holidayList">
							<td>{{(page*size)+($index+1)}}</td>
							<td>{{holiday.leavePeriod.startDate}} to
								{{holiday.leavePeriod.endDate}}</td>
							<td>{{holiday.state.name}}</td>
							<td>{{holiday.division.name}}</td>
							<td>{{holiday.holidayName}}</td>
							<td>{{holiday.holidayDate}}</td>
							<th>{{Entitlement}}</th>
							<td><button class="btn btn-success"
									ng-click="viewHoliday(holiday)" data-toggle="tooltip"
									tooltip-placement="top" tooltip="View" title="View">
									<span title="view" class="glyphicon glyphicon-eye-open"></span>
								</button>&nbsp;
								<button class="btn btn-primary"
									ng-click="gotoUpdateHoliday(holiday)" data-toggle="tooltip"
									tooltip-placement="bottom" tooltip="Update" title="Update">
									<span class="glyphicon glyphicon-edit"></span>
								</button>&nbsp;
								<button class="btn btn-danger" ng-click="deleteOpen(holiday.id)"
									data-toggle="tooltip" tooltip-placement="bottom"
									tooltip="Delete" title="Delete">
									<span class="glyphicon glyphicon-trash"></span>
								</button></td>
						</tr>


					</tbody>
				</table>
<div class="box-footer">
							<div ng-hide="count > 0">
								
									<h3>No Records Found!</h3>
								
							</div>

							<div class="row" ng-show="count > 0">
								<br /> 


								<div class="col-xs-3 col-xs-offset-1">
									<p>Number of Records:{{count}}</p>
								</div>


								<div class="col-xs-3">
									Records per Page <select ng-model="PerPage"
										ng-change="recordsPerPage()">
										<option ng-selected="true">10</option>
										<option>25</option>
										<option>50</option>
									</select>
								</div>
								<div class="col-xs-3">
									<ul class="pagination">
										<li><a ng-click="firstPage()">First</a></li>
										<li><a  ng-click="prevPage()">Previous</a></li>
										<li><a  ng-click="nextPage()">Next</a></li>
										<li><a  ng-click="lastPage()">Last</a></li>


									</ul>
								</div>

				
				<div class="row" ng-show="count>0">




							</div>

						</div>
						</div>
						<!-- /.box-body -->
					</div>
				
			</div>
			<!-- /.box -->

	<!-- /.row -->
</section>






