<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Parent Product Line</h2>
		<ol class="breadcrumb">

			<li><a>sales</a></li>
			<li><a>Product Line</a></li>
			<li class="active">Add Parent Product Line</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight"
	ng-init="getAllSegments();getAllParentProductlines();">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Add Parent Product Line</h5>

				</div>
				<div class="ibox-content">
					<form method="get" class="form-horizontal">
						<div ng-show="index==false" class="form-group">
							<label class="col-sm-4 control-label">Segment <span
								style="color: red" ng-show="parentProductLine.segment==undefined ||parentProductLine.segment==''">*</span></label>

							<div class="col-sm-4">
								<select class="form-control" ng-model="parentProductLine.segment"
									ng-options="Segment as Segment.name for Segment in segmentsList">
									<option value="">select</option>
								</select>

							</div></div>
							<div ng-show="index==true" class="form-group">
								<label class="col-sm-4 control-label">Segment </label>

								<div class="col-sm-4">
									<input class="form-control"
										ng-model="parentProductLine.segment.name"
										disabled="true">
								</div>
							</div>
						
						<div class="form-group">
							<label class="col-sm-4 control-label">Code <span
								style="color: red"
								ng-show="parentProductLine.code==undefined || parentProductLine.code==''">*</span></label>

							<div class="col-sm-4">
								<input type="text" class="form-control"
									ng-model="parentProductLine.code" capitalize only-alpha-numeric
									maxlength="5">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Name <span
								style="color: red"
								ng-show="parentProductLine.name==undefined || parentProductLine.name==''">*</span></label>

							<div class="col-sm-4">
								<input type="text" class="form-control"
									ng-model="parentProductLine.name" capitalize-first
									only-alpha-numeric maxlength="35">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">

								<button ng-show="index==false" class="btn btn-primary"
									ng-disabled="!parentProductLine.code||!parentProductLine.name||!parentProductLine.segment"
									ng-click="addParentProductLine(parentProductLine)">Save</button>
								<button ng-show="index==true" class="btn btn-primary"
									ng-disabled="!parentProductLine.code||!parentProductLine.name"
									ng-click="updateParentProductLine(parentProductLine)">Update</button>
								<button class="btn btn-danger" ui-sref="home.tdv.productLine.productLineDetail">Cancel</button>
							</div>
						</div>
					</form>
					<br />
					<div class="table-responsive">
						<table datatable="ng" dt-options="dtOptions"
							class="table table-striped table-hover">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Segment</th>
									<th>Code</th>
									<th>Name</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="parentProductLine in parentProductLineList">

									<td>{{($index+1)}}</td>
									<td>{{parentProductLine.segment.name}}</td>
									<td>{{parentProductLine.code}}</td>
									<td>{{parentProductLine.name}}</td>
									<td>
										<button class="btn btn-primary"
											ng-click="editParentProductLine(parentProductLine)"
											data-toggle="tooltip" tooltip-placement="bottom"
											tooltip="Update" title="Update">
											<span class="glyphicon glyphicon-edit"></span>
										</button>&nbsp;
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row" ng-show="parentProductLineList.length<=0">
						<h3 class="active">No Records Found</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 
<div class="col-md-12">
	<div class="ibox ">
		<div class="ibox-title">
			<h5>Nestable list</h5>
		</div>
		<div class="ibox-content">

			<script type="text/ng-template" id="nodes_renderer.html">
                        <div ui-tree-handle class="tree-node tree-node-content">
							<a class="pull-right btn btn-white btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-trash"></span></a>
                            <a class="pull-right btn btn-white btn-xs" data-nodrag ng-click="newSubItem(this)"><span class="fa fa-plus"></span></a>
                            
                            <a class="btn btn-primary btn-xs" data-nodrag ng-click="toggle(this)"><span class="fa" ng-class="{'fa-angle-down': collapsed, 'fa-angle-right': !collapsed}"></span></a>
                            {{node.title}}

                        </div>
                        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: !collapsed}">
                            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                            </li>
                        </ol>
                    </script>
			<div ui-tree id="tree-root">
				<ol ui-tree-nodes ng-model="data">
					<li ng-repeat="node in data" ui-tree-node
						ng-include="'nodes_renderer.html'"></li>
				</ol>
			</div>
		</div>
	</div>
</div> -->