<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>sales</h2>
		<ol class="breadcrumb">
			
			<li><a>sales</a></li>
			<li class="active"><strong>Vehicle Models</strong></li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="row wrapper wrapper-content">
	<div class="col-lg-12" ng-init="getVehicleCategories();">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Vehicle Models</h5>
				<div class="ibox-tools" uib-dropdown>
					<button ng-if="hasFeatureWithAction('Vehicle Model').createAction"
						class="btn btn-success" ng-click="gotoAddVehicle()">Add
						Vehicle Model</button>
				</div>
			</div>
			<div class="ibox-title">

				<div class="row">
					<div class="box-body">
						<div class="form-group">
							<label for="email" class="control-label col-sm-2 ">Vehicle
								Code 
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="code"
									capitalize only-alpha-numeric maxlength="20"
									placeholder="Vehicle Code">


							</div>



							<label for="pwd" class="control-label col-sm-2 ">Vehicle
								Category 
							</label>
							<div class="col-sm-3">
								<select class="form-control" ng-model="vehicleCategory"
									ng-options="vehicleCategory as vehicleCategory.name for vehicleCategory in vehicleCategoryList">
									<option value="">select</option>
								</select>
							</div>


							<div class="col-sm-2">
								<button type="submit" class="btn btn-success"
									ng-click="SearchVehicle(vehicleCategory)">Search</button>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="ibox-content">
				<div class="table-responsive">
					<table class="table  table-hover table-striped">
						<thead>
							<tr>
								<th>S.No</th>
								<th>Code</th>
								<th>Category</th>
								<th>Colors</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="vehicle in vehicleModelList">
								<td>{{$index+1}}</td>
								<td>{{vehicle.code}}</td>
								<td>{{vehicle.vehicleCategory.name}}</td>
								<td><span ng-repeat="color in vehicle.colors">{{color}}
								</span></td>
								<td><button
										ng-if="hasFeatureWithAction('Vehicle Model').viewAction"
										class="btn btn-success" ng-click="gotoViewVehicle(vehicle)"
										data-toggle="tooltip" tooltip-placement="top" tooltip="View"
										title="View">
										<span title="view" class="glyphicon glyphicon-eye-open"></span>
									</button>&nbsp;
									<button ng-if="hasFeatureWithAction('Vehicle Model').updateAction"
										class="btn btn-primary" ng-click="gotoUpadeVehicle(vehicle)"
										data-toggle="tooltip" tooltip-placement="bottom"
										tooltip="Update" title="Update">
										<span class="glyphicon glyphicon-edit"></span>
									</button>&nbsp; <!-- <button class="btn btn-danger"
										ng-click="deleteOpen2(vehicle.id)" data-toggle="tooltip"
										tooltip-placement="bottom" tooltip="Delete" title="Delete">
										<span class="glyphicon glyphicon-trash"></span>
									</button> --></td>
							</tr>

						</tbody>
					</table>
				</div>

				<div class="row" ng-show="count==0">
					<h3 class="active">No Records Found</h3>
				</div>
				<div class="row" ng-show="count!=0">
					<div class="col-sm-4 m-b-xs">
						<p>Number of Records:{{count}}</p>
					</div>
					<div class="col-sm-4 m-b-xs">
						Records per Page <select ng-model="PerPage"
							ng-change="recordsPerPage()">
							<option ng-selected="true">10</option>
							<option>25</option>
							<option>50</option>
						</select>
					</div>

					<div class="col-sm-4">
						<ul class="pagination">
							<li><a ng-click="firstPage()">First</a></li>
							<li><a ng-click="prevPage()">Previous</a></li>
							<li><a ng-click="nextPage()">Next</a></li>
							<li><a ng-click="lastPage()">Last</a></li>

						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>