
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Document Categories</h2>
		<ol class="breadcrumb">
			<li><a >Admin</a></li>
			<li><a >Document Categories</a></li>
			<li class="active">Add Document Category</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Add Document Category</h5>

				</div>
				<div class="ibox-content">
					<form method="get" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">Category
								Code <span style="color: red"
								ng-show="documentCategory.code==undefined || documentCategory.code==''">*</span>
							</label>

							<div class="col-sm-10">
								<input type="text" class="form-control"
									ng-model="documentCategory.code" capitalize only-alpha-numeric
									maxlength="4">

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Category Name <span
								style="color: red"
								ng-show="documentCategory.name==undefined || documentCategory.name==''">*</span></label></label>

							<div class="col-sm-10">
								<input type="text" class="form-control"
									ng-model="documentCategory.name" capitalize-first
									only-alpha-numeric maxlength="35">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">

								<button class="btn btn-primary"
									ng-disabled="!documentCategory.name || !documentCategory.code"
									ng-click="addDocumentCategory()">Save</button>
								<button class="btn btn-danger"
									ng-click="gotoDocumentCategoryList()">Cancel</button>

							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>