<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Lookups</h2>
		<ol class="breadcrumb">

			<li><a>Sales</a></li>
			<li class="active"><strong>Lookups</strong></li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h5>ProductLine Update</h5>

				</div>
				<div class="ibox-content wizard">

					<div class="steps clearfix">
						<ul>
							<li ui-sref-active="current"><a
								ui-sref="home.tdv.updateProductLine.updateProductLineDetails"
								class="btn-default"><span>1</span> Update Product Line Detail</a></li>
							<li ui-sref-active="current"><a
								ui-sref="home.tdv.updateProductLine.updateProductLineSpecifications"
								class="btn-default"><span>2</span> Update Product Line
									Specification</a></li>
							<li ui-sref-active="current"><a
								ui-sref="home.tdv.updateProductLine.updateProductLineConfirm"
								class="btn-default"><span>3</span> Confirm </a></li>
						</ul>
					</div>
					<div class="">
						<div class="content">

							<!--                         <form name="signupForm" ng-submit="processForm()" class="p-lg"> -->

							<!-- our nested state views will be injected here -->
							<div id="form-views" ui-view></div>