<section class="content-header">
	<h1>Payments</h1>
	<ol class="breadcrumb">
		<li><a>CRM</a></li>
		<li class="active">Payments</li>
		<li class="active">View Payment</li>
	</ol>
</section>



<section class="content">

	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">View Payment</h3>
				</div>
				<!-- /.box-header -->

				<!-- form start -->

				<form role="form">
					<div class="row">
						<div class="box-body">
							<div class="col col-md-4">
								<b>Receipt No</b>
							</div>
							<div class="col col-md-4">{{paymentDetail.name}}</div>
						</div>
					</div>
					
					<div class="row">
						<div class="box-body">
							<div class="col col-md-4">
								<b>Payment Date</b>
							</div>
							<div class="col col-md-4">{{paymentDetail.paymentDate}}</div>
						</div>
					</div>
					<div class="row">
						<div class="box-body">
							<div class="col col-md-4">
								<b>Booking ID</b>
							</div>
							<div class="col col-md-4">{{paymentDetail.booking.id}}</div>
						</div>
					</div>
					<div class="row">
						<div class="box-body">
							<div class="col col-md-4">
								<b>Function Hall</b>
							</div>
							<div class="col col-md-4">{{paymentDetail.booking.functionHallEnquiry.functionHall.name}}</div>
						</div>
					</div>

					<div class="row">
						<div class="box-body">


							<div class="col col-md-4">
								<b>Purpose</b>
							</div>
							<div class="col col-md-4">{{paymentDetail.booking.functionHallEnquiry.purpose}}</div>



						</div>
					</div>

					<div class="row">
						<div class="box-body">


							<div class="col col-md-4">
								<b>Payment Type</b>
							</div>
							<div class="col col-md-4">{{paymentDetail.paymentType}}</div>



						</div>
					</div>
					<div class="row">
						<div class="box-body">


							<div class="col col-md-4">
								<b>Paid Amount</b>
							</div>
							<div class="col col-md-4">{{paymentDetail.payable.amount}}</div>



						</div>
					</div>
					

					<div class="box-footer">
						<div class="col-xs-offset-2 col-xs-10">

							<button class="btn btn-success" ng-click="gotopaymentList()">Back</button>

						</div>
					</div>
				</form>
			</div>
			<!-- /.box -->


		</div>
	</div>

	<!-- /.row -->
</section>


