<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Add Bill</h2>
		<ol class="breadcrumb">
			<li><a > CRM</a></li>
			<li><a >Bill</a></li>
			<li class="active">Add Bill</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight"
	ng-init="getBookingsWithOutInvoice()">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Add Bill</h5>

				</div>
				<div class="ibox-content">
					<form method="get" class="form-horizontal">
						<div class="form-group">

							<div class="control-label col-sm-3">
								<label for="inputEmail">Booking Id<span
									style="color: red"
									ng-show="invoice.booking==undefined ||invoice.booking==''">*</span>
								</label>
							</div>

							<div class="col-sm-3">
								<select class="form-control" ng-model="invoice.booking"
									ng-options="booking as booking.bookingSerialNo for booking in bookingsWithOutInvoice"
									ng-change="getActiveRateCard(invoice.booking.id)">
									<option value="">select</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="box-body">
								<div class="form-group">
									<label for="inputEmail" class="control-label col-sm-3">
										Full Name </label>


									<div class="col-sm-3">
										<input type="text" class="form-control"
											ng-model="invoice.booking.functionHallEnquiry.customer.fullName"
											disabled>
									</div>


								</div>
							</div>
						</div>
						<div class="form-group">

							<div class="control-label col-sm-3">
								<label for="inputEmail">Hall Rent per Day 
								</label>

							</div>
							<div class="col-sm-3">

								<input type="text" class="form-control" placeholder=""
									ng-model="activeRateCard.hallRentPerDay.amount"
									allow-only-numbers disabled="true">
							</div>

							<!-- <div class="control-label col-sm-3">
								<label for="inputEmail">No of Halls<span
									style="color: red"
									ng-show="hallQuantity==undefined ||hallQuantity==''">*</span>
								</label>

							</div>
							<div class="col-sm-3">

								<input type="text" class="form-control" placeholder=""
									ng-model="hallQuantity"
									allow-only-numbers>
							</div>
 -->
						</div>

						<div class="form-group">

							<label for="inputEmail" class="control-label col-sm-3">Room
								Rent per Day
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" placeholder=""
									ng-model="activeRateCard.roomRentPerDay.amount"
									allow-only-numbers disabled="true">
							</div>
							<div class="control-label col-sm-3">
								<label for="inputEmail">No Of Addl. Rooms <!-- <span
									style="color: red"
									ng-show="invoice.booking.additionalRooms==undefined ||invoice.booking.additionalRooms==''">*</span> -->
								</label>

							</div>
							<div class="col-sm-3">

								<input type="text" class="form-control" placeholder=""
									ng-model="invoice.booking.additionalRooms"
									allow-only-numbers>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail" class="control-label col-sm-3">Electricity
								Charge per Unit 
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" placeholder=""
									ng-model="activeRateCard.electricityChargePerUnit.amount"
									disabled="true">
							</div>
							<div class="control-label col-sm-3">
								<label for="inputEmail">No of Units<span
									style="color: red"
									ng-show="electricityQuantity==undefined ||electricityQuantity==''">*</span>
								</label>

							</div>
							<div class="col-sm-3">

								<input type="text" class="form-control" placeholder=""
									ng-model="electricityQuantity"
									allow-only-numbers>
							</div>
						</div>
						<div class="form-group">

							<label for="inputEmail" class="control-label col-sm-3">Generator
								Rent per Hour
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" placeholder=""
									ng-model="activeRateCard.generatorRentPerHour.amount"
									allow-only-numbers disabled="true">
							</div>
							<label for="inputEmail" class="control-label col-sm-3">No
								of Hours<span style="color: red"
								ng-show="generatorQuantity==undefined ||generatorQuantity==''">*</span>
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" placeholder=""
									ng-model="generatorQuantity"
									allow-only-numbers>
							</div>
						</div>
						<div class="form-group">

							<label for="inputEmail" class="control-label col-sm-3">Service
								Tax 
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" placeholder=""
									ng-model="activeRateCard.serviceTax.value" allow-only-numbers disabled="true">
							</div>
						</div>





						<div class="form-group">
							<label for="inputEmail" class="control-label col-sm-3">Cleaning
								Charges 
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" placeholder=""
									ng-model="activeRateCard.cleaningCharges.amount"
									allow-only-numbers disabled="true">
							</div>
						</div>




						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<button class="btn btn-primary"
									ng-disabled="!generatorQuantity||!electricityQuantity"
									ng-click="addInvoice(invoice)">Save</button>
								<button class="btn btn-danger" ng-click="gotoInvoiceList()">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#datepicker,#datepicker1,#datepicker2,#datepicker3').datepicker({
		format : "dd-mm-yyyy",
		startDate : "new Date()",
		todayBtn : "linked",
		autoclose : true,
		todayHighlight : true,
	});
</script>