<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SalesRepAssignedVehicle</h2>
		<ol class="breadcrumb">
			<li><a>Sales</a></li>
			<li><a>SalesRepAssignedVehicle</a></li>
			<li class="active"><strong>View SalesRepAssignedVehicle</strong></li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row" ng-init="getLocationsAndVehicleModelsById()">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>View SalesRepAssignedVehicle</h5>
					<div class="ibox-tools" uib-dropdown>
						<a  ng-click="gotoSalesRepAssignedVehicles()" class="btn btn-success ">Back</a>
					</div>
				</div>
				<div class="ibox-content">
					<form method="get" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">Sales Rep Code <span
								style="color: red" ng-show="employee==undefined ||employee==''">*</span>
							</label>
							<div class="col-sm-4">

								<input type="text" ng-model="employee"
									uib-typeahead="salesRepresentative as salesRepresentative.salesRepCode for salesRepresentative in salesRepresentativeList | filter:$viewValue "
									class="form-control"> <span style="color: red"
									ng-show="employee.id==undefined && employee.length>=3">select
									employee from suggestions shown in above field</span>
							</div>

							<label class="col-sm-2 control-label">Sales Rep Name </label>
							<div class="col-sm-4">
								<input type="text" class="form-control"
									ng-model="employee.fullName" capitalize-first maxlength="35"
									disabled="true">
							</div>
						</div>
						
						<div class="form-group">

							<label class="col-sm-2 control-label">Locations <span
								style="color: red"
								ng-show="vehicle.color==undefined || vehicle.color==''"></span></label>

							<div class="col-sm-4">

								<select multiple class="form-control" ng-model="location"
									ng-options="location as location.city for location in locations">
								</select>
							</div>
							<label class="col-sm-2 control-label">Remarks </label>
							<div class="col-sm-4">
								<input type="text" class="form-control"
									ng-model="employee.salesRemarks">
							</div>

						</div>

						<div class="ibox-title">
							<h5>ProductLines</h5>
						</div>
						
						<div class="ibox-content">
							<div class="table-responsive">
								<table datatable="ng" dt-options="dtOptions"
									class="table table-striped table-hover">
									<thead>
										<tr>
											<!-- <th>Select</th> -->
											<th>S.No</th>
											<th>Model No</th>
											<th>Model</th>
											<th>Parent Product Line</th>
											<th>Segment</th>
											<th>Color</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="productLine in productLines">
											<td>{{$index+1}}</td>
											<td>{{productLine.number}}</td>
											<td>{{productLine.model.name}}</td>
											<td>{{productLine.parentProductLine.name}}</td>
											<td>{{productLine.parentProductLine.segment.name}}</td>
											<td><span ng-repeat="color in productLine.colors">{{color}}</span></td>
										</tr>
									</tbody>
								</table>
							</div>
							
						</div>

						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
