<ion-view view-title="Quotes"> <ion-content
	class="has-footer">
<div class="row header">
	<div class="col">Customer Name</div>
	<div class="col">Mobile</div>
	<div class="col">Vehicle Name</div>
	<div class="col">Vehicle Model</div>
	<div class="col">Cost</div>
	<div class="col" align="center">Date</div>
	<div class="col">Action</div>
</div>
<div class="row" ng-repeat="data in customers">
	<div class="col">{{data.name}}</div>
	<div class="col">{{data.mobile}}</div>
	<div class="col">{{data.vehicleName}}</div>
	<div class="col">{{data.vehicleType}}</div>
	<div class="col">{{data.cost}}</div>
	<div class="col">{{data.date}}</div>
	<div class="col">
		<i class="icon ion-printer"></i>
	</div>
</div>


</ion-content>
<div class="bar bar-footer bar-positive">
	<div class="title">SRI RAMADAS MOTORS TRANSPORT LIMITED</div>
</div>
</ion-view>
