<div class="mail-box-header">
	<div class="col-lg-10">
		<h2>Qualification Details</h2>
		<ol class="breadcrumb">
			<li><a >Employee Self Service</a></li>
			<li class="active">Qualification Details</li>
		</ol>
	</div>	
	<div class="col-lg-2"></div>
</div>
<div class="mail-box">
	<div class="row" ng-init="getAllQualificationDetails()">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Qualification Detail</h5>
					<div class="ibox-tools" uib-dropdown>
						<button class="btn btn-success"
							ng-click="gotoAddQualificationDetail()">Add
							Qualification Details</button>
					</div>
				</div>

				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table  table-hover table-striped">
							<thead>
								<tr>
										<th>S.No</th>
										<th>Level</th>
										<th>College/Institution Name</th>
										<th>Specialization</th>
										<th>Year</th>
										<th>% marks</th>
										<th>Action</th>
									</tr>
							</thead>
							<tbody>
								<tr ng-repeat="qualification in qualificationList">
										<td>{{(page*size)+($index+1)}}</td>
										<td>{{qualification.educationLevel.code}}</td>
										<td>{{qualification.collegeName}}</td>
										<td>{{qualification.specialization}}</td>
										<td>{{qualification.yearOfPass}}</td>
										<td>{{qualification.marks}}</td>


										<td><!-- <button class="btn btn-primary"
												ng-click="gotoViewQualificationDetail(qualification)"
												data-toggle="tooltip" tooltip-placement="top" tooltip="View"
												title="View">
												<span title="view" class="glyphicon glyphicon-eye-open"></span>
											</button>&nbsp; -->
											<button class="btn btn-primary"
												ng-click="gotoUpdateQualificationDetail(qualification)"
												data-toggle="tooltip" tooltip-placement="bottom"
												tooltip="Update" title="Update">
												<span class="glyphicon glyphicon-edit"></span>
											</button>&nbsp;
											<button class="btn btn-danger"
												ng-click="deleteOpen2(qualification.id)"
												data-toggle="tooltip" tooltip-placement="bottom"
												tooltip="Delete" title="Delete">
												<span class="glyphicon glyphicon-trash"></span>
											</button></td>
									</tr>

							</tbody>
						</table>
					</div>

					<div class="row" ng-init="getDocumnets()">
						<!-- left column -->
						<div class="col-md-12">
							<!-- general form elements -->
							<div class="box box-primary">
								<div class="box-header with-border">
									<div class="row">
										<div class="col col-md-6">
											<h3 class="box-title">Attachments</h3>
										</div>

										<div class="col col-md-6" align="right">

											<div class="pull-right">
												<h4>
													<button class="btn btn-primary"
														ui-sref="home.selfService.myinfo.addQualificationDocument">Add
														File</button>
												</h4>
											</div>
										</div>
									</div>
								</div>


								<!-- /.box-header -->

								<!-- form start -->

								<form role="form">
									<div class="row">

										<div class="box-body">
											<div class="table-responsive">

												<table class="table table-hover">
													<thead>
														<tr>
															<th>S.No</th>
															<th>Title/Description</th>
															<th>Memory</th>
															<th>Type</th>

															<th>Action</th>
														</tr>
													</thead>
													<tbody>
															<tr ng-repeat="document in documentsList">
									<td>{{$index+1}}</td>
									<td><a target="_blank"
										href="{{docPath(document.imagepath)}}">{{document.name}}</a></td>
									<td>{{document.size}}</td>
									<td>{{document.type}}</td>

									<td><!-- <button class="btn btn-primary"
											ng-click="goToViewDocument(document)" data-toggle="tooltip"
											tooltip-placement="top" tooltip="View" title="View">
											<span title="view" class="glyphicon glyphicon-eye-open"></span>
										</button>&nbsp; -->
										<button class="btn btn-primary"
											ng-click="goToUpdateDocument(document)" data-toggle="tooltip"
											tooltip-placement="bottom" tooltip="Update" title="Update">
											<span class="glyphicon glyphicon-edit"></span>
										</button>&nbsp; <!-- <button class="btn btn-danger"
												ng-click="deleteDocuments(document)" data-toggle="tooltip"
												tooltip-placement="bottom" tooltip="Delete" title="Delete">
												<span class="glyphicon glyphicon-trash"></span>
											</button> --></td>
								</tr>




													</tbody>

												</table>
											</div>

										</div>

										<!-- /.box-body -->
									</div>

								</form>
							</div>
							<!-- /.box -->


						</div>

					</div>


				</div>
			</div>

		</div>
	</div>
</div>











