
<div class="row ">

	<div class="col col-md-6">

		<h4>Organisation Structure Details</h4>
	</div>
<div class="pull-right">
	<div class="col col-md-6">

		<h4>
			<button  class="btn btn-primary"  ng-click="gotoAddSubUnit()">Add Sub Unit</button>
		</h4>
	</div>
</div>
<div class="pull-right">
	<div class="col col-md-6">

		<h4>
			<button  class="btn btn-primary"  ng-click="gotoAddUnit()">Add Unit</button>
		</h4>
	</div>
</div>
</div>

<div class="row" ng-init="getAllJobCategories()">
  <div class="col"></div>
  <div class="col">
	<table class="table table-hover table-striped">
		<thead>
			<tr><th></th>
				<th>Organisation</th>
				<th>Unit</th>
				<th>Sub-Unit</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="jobTitle in jobTitleList"><td></td>
				<td>{{jobTitle.code}}</td>
				<td>{{jobTitle.title}}</td>
				<td><button class="btn btn-primary" ng-click="gotoEditOrganisationStructureDetails()">edit</button>&nbsp;<button class="btn btn-danger" ng-click="deleteCategory(jobCategory.id)">delete</button></td>
			</tr>
			
		</tbody>
	</table>
 </div>
</div>


