
<table style="width: 100%; border: none;" border="0" cellspacing="0"
	cellpadding="0">
	<tbody>
		<tr>
			<td height="35px">&nbsp;</td>
		</tr>
		<tr>
			<td class="topPan_logo">&nbsp;</td>
		</tr>
		<tr>
			<td class="topPan">&nbsp;</td>
		</tr>
		<tr>
			<td align="center"></td>
		</tr>
		<tr>
			<td align="center">
				<table width="700px">
					<tr>
						<td valign="top" align="center"><div class="mid_box">
								<form>
									<table width="650px" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td height="3px"></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td class="login_label">User Name</td>
											<td><input type="text" id="username" name="Username"
												ng-model="user.userName" /></td>
											<td class="login_label">Password</td>
											<td><input type="password" id="password" name="password"
												ng-model="user.password" /></td>
											<td><input type="submit" id="input_submit" value="Login"
												ng-click="login();" /></td>
									</table>
								</form>
							</div></td>
					</tr>
					<!-- <tr>
						<td align="right"><a href="#" id="loginlink">Forget
								Password?</a></td>
					</tr> -->
					<tr>
						<td align="center"><a href="#" class="link_site">www.bigbasket.com</a></td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>



<!--<div class="middle-box text-center loginscreen  animated fadeInDown">
	<div>
		<div>
			<img width="126" height="36" border="0" src="img/srmt_bg_logo.png"
				title="SRMT" alt="SRMT" class="logo">
		</div>
		<form class="m-t" role="form">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username"
					ng-model="user.userName">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password"
					ng-model="user.password">
			</div>
			<button ng-click="login();"
				class="btn btn-primary block full-width m-b">Login</button>


		</form>
	</div>
</div>-->