<ion-view view-title="Clients"> <ion-nav-bar
	class="bar-positive"> <ion-nav-back-button
	class="button-clear">
<i class="icon ion-chevron-left"></i>Back</ion-nav-back-button> <ion-nav-buttons side="right">
<button class="button-clear light" ui-sref="app.addClient"><i class="ion-plus-round"></i></button>
</ion-nav-buttons></ion-nav-bar>
<ion-content class="" ng-init="init();">
<div class="row header">
	<div class="col col-33">Customer Name</div>
	<div class="col col-25">Mobile</div>
	<div class="col col-25">Model Number</div>

	<div class="col col-15">Action</div>
</div>
<div class="row" ng-repeat="customer in customerList">
	<div class="col col-33">{{customer.fisrtName}}</div>
	<div class="col col-25">{{customer.mobile}}</div>
	<div class="col col-25">{{customer.productLine.number}}</div>
 
	<div class="col col-15" ng-click="gotoViewCustomer(customer);">
		<i class="ion-eye"></i>
	</div>
</div>
 <ion-infinite-scroll
    on-infinite="getCustomers()"
    distance="1%" ng-if="page<totalPages">
  </ion-infinite-scroll>
 
  
</ion-content>
<div class="bar bar-footer bar-positive">
	<div class="title">SRI RAMADAS MOTORS TRANSPORT LIMITED</div>
</div>
</ion-view>
