<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="row">
						<div class="col-xs-12">
							<dl class="dl-horizontal">
								<dt>Segment :</dt>
								<dd>
									{{productLine.model.parentProductLine.segment.name}}</dd>
								<dt>Parent Product Line:</dt>
								<dd>{{productLine.model.parentProductLine.name}}</dd>
								<dt>Model:</dt>
								<dd>{{productLine.model.name}}</dd>
								<dt>Model No:</dt>
								<dd>{{productLine.number}}</dd>
								<br />
								<dt>Colors :</dt>
								<dd>
									{{productLine.colors}}
									<!-- <span ng-repeat="color in productLine.colors"> 
									</span> -->

								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>Specifications</h5>
				</div>
				<div class="ibox-content">
					<script type="text/ng-template" id="nodes_renderer.html">
                        <div ui-tree-handle class="tree-node tree-node-content">
							<a class="pull-right btn btn-white btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-trash"></span></a>
                            <a class="btn btn-primary btn-xs" data-nodrag ng-click="toggle(this)"><span class="fa" ng-class="{'fa-angle-down': collapsed, 'fa-angle-right': !collapsed}"></span></a>
                            {{node.name}}  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>{{node.value}}</strong>

                        </div>
                        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: !collapsed}">
                            <li ng-repeat="node in node.specifications" ng-include="'nodes_renderer.html'">
                            </li>
                        </ol>
                    </script>
					<div ui-tree id="tree-root">
						<ol ui-tree-nodes ng-model="hh">
							<li ng-repeat="node in specificationCategories" ui-tree-node
								ng-include="'nodes_renderer.html'"></li>
						</ol>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-md-offset-3 col-md-3">
		<button class="btn btn-primary"
			ui-sref="home.tdv.productLine.prodctLineSpecification">Previous</button>
		<button class="btn btn-primary"
			ng-disabled="productLine.specficationCategories.length<=0"
			ng-click="addProductLine(productLine)">Confirm</button>
	</div>

</div>