<section class="content-header">
	<h1>PIM</h1>
	<ol class="breadcrumb">
		<li><a > PIM</a></li>
		<li class="active">Contact Details</li>
	</ol>
</section>
<section class="content" ng-init="getAllRegionalOffice()">

	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<div class="row">
						<div class="col col-md-6">
							<h3 class="box-title">Contact Details</h3>
						</div>

						<div class="col col-md-6" align="right">

							<div class="pull-right">
								<h4>
									<button class="btn btn-primary"
										ng-click="gotoAddContactdetail()">Add Contact Details</button>
								</h4>
							</div>
						</div>
					</div>
				</div>


				<!-- /.box-header -->

				<!-- form start -->

				<form role="form">
					<div class="row">

						<div class="box-body">

							<table class="table table-hover">
								<thead>
									<tr>
										<th>S.No</th>
										<th>Street</th>
										<th>City</th>
										<th>District</th>
										<th>State</th>
										<th>Mobile</th>
										<th>Home Phone</th>
										<th>Email</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="branch in BranchOfficeList">
										<td>{{(page*size)+($index+1)}}</td>
										<td>{{branch.name}}</td>
										<td>{{branch.city}}</td>
										<td>{{branch.regionalOfficeMasterOFtheBranch.state}}</td>
										<td>{{branch.address}}</td>
										<td>{{branch.phone}}</td>
										<td>{{branch.regionalOfficeMasterOFtheBranch.code}}</td>

										<td><button class="btn btn-primary"
												ng-click="gotoViewContactdetail()" data-toggle="tooltip"
												tooltip-placement="top" tooltip="View" title="View">
												<span title="view" class="glyphicon glyphicon-eye-open"></span>
											</button>&nbsp;
											<button class="btn btn-primary"
												ng-click="gotoUpadteContactdetail()" data-toggle="tooltip"
												tooltip-placement="bottom" tooltip="Update" title="Update">
												<span class="glyphicon glyphicon-edit"></span>
											</button>&nbsp;
											<button class="btn btn-danger"
												ng-click="deleteBranch(branch)" data-toggle="tooltip"
												tooltip-placement="bottom" tooltip="Delete" title="Delete">
												<span class="glyphicon glyphicon-trash"></span>
											</button></td>
									</tr>




								</tbody>

							</table>
							<div class="row" ng-show="BranchOfficeList.length !=0">

								<div class="col-xs-3 col-xs-offset-1">
									<p>Number of Pages:{{count}}</p>
								</div>
								<div class="col-xs-3">
									Records per Page <select ng-model="PerPage"
										ng-change="recordsPerPage()">
										<option>10</option>
										<option>25</option>
										<option>50</option>
									</select>
								</div>
								<div class="col-xs-3">
									<ul class="pagination">
										<li><a ng-click="firstPage()">First</a></li>
										<li><a  ng-click="prevPage()">Previous</a></li>
										<li><a  ng-click="nextPage()">Next</a></li>
										<li class="disabled"><a  ng-click="lastPage()">Last</a></li>

									</ul>
								</div>
							</div>

						</div>
						<div ng-show="BranchOfficeList.length ==0">
								<h3>No Records Found!</h3>
						</div>
						<!-- /.box-body -->
					</div>

				</form>
			</div>
			<!-- /.box -->


		</div>
	</div>

	<!-- /.row -->
</section>



<section class="content" ng-init="getAllRegionalOffice()">

	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<div class="row">
						<div class="col col-md-6">
							<h3 class="box-title">Attachments</h3>
						</div>

						<div class="col col-md-6" align="right">
							{{person|json}}
							<div class="pull-right">
								<h4>
									<button class="btn btn-info" ui-sref="home.employee.addContactFile({person:person})">Add File</button>
								</h4>
							</div>
						</div>
					</div>
				</div>


				<!-- /.box-header -->

				<!-- form start -->

				<form role="form">
					<div class="row">

						<div class="box-body">
<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>S.No</th>
										<th>file name</th>
										<th>Memory</th>
										<th>Type</th>

										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="branch in BranchOfficeList">
										<td>{{(page*size)+($index+1)}}</td>
										<td>{{branch.name}}</td>
										<td>{{branch.city}}</td>
										<td>{{branch.regionalOfficeMasterOFtheBranch.state}}</td>
										<td>{{branch.address}}</td>
										<td>{{branch.phone}}</td>
										<td>{{branch.regionalOfficeMasterOFtheBranch.code}}</td>

										<td><button class="btn btn-primary"
												ng-click="gotoViewContactdetail()" data-toggle="tooltip"
												tooltip-placement="top" tooltip="View" title="View">
												<span title="view" class="glyphicon glyphicon-eye-open"></span>
											</button>&nbsp;
											<button class="btn btn-primary"
												ng-click="gotoUpadteContactdetail()" data-toggle="tooltip"
												tooltip-placement="bottom" tooltip="Update" title="Update">
												<span class="glyphicon glyphicon-edit"></span>
											</button>&nbsp;
											<button class="btn btn-danger"
												ng-click="deleteBranch(branch)" data-toggle="tooltip"
												tooltip-placement="bottom" tooltip="Delete" title="Delete">
												<span class="glyphicon glyphicon-trash"></span>
											</button></td>
									</tr>




								</tbody>

							</table>

</div>
						</div>

						<!-- /.box-body -->
					</div>

				</form>
			</div>
			<!-- /.box -->


		</div>
	</div>

	<!-- /.row -->
</section>




