<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Hall Rooms</h2>
		<ol class="breadcrumb">
			<li><a > CRM</a></li>
			<li><a >Hall Rooms</a></li>
			<li class="active">View Hall Room</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>View Hall Room</h5>
					<div class="ibox-tools" uib-dropdown>
						<a href="" ui-sref="home.crm.hallRoomsList" class="btn btn-success ">Back</a>
					</div>

				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-12">
							<dl class="dl-horizontal">

								<dt>Hall Code:</dt>
								<dd>{{hallRoomDetail.functionHall.code}}</dd>
								<dt>Room Number:</dt>
								<dd>{{hallRoomDetail.code}}</dd>

							</dl>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>