<ion-view><ion-nav-bar
	class="bar-positive"> <ion-nav-back-button
	class="button-clear">
<i class="icon ion-chevron-left"></i>Back</ion-nav-back-button> </ion-nav-bar><ion-content> <ion-list> <ion-item menu-close
	href="#/app/profile"> <i class="icon ion-person"></i>
Profile </ion-item> <ion-item menu-close href="#/app/dashboard"> <i
	class="icon ion-person"></i> My Info </ion-item>   <ion-item menu-close href="#/login">
<i class="icon ion-log-out"> </i> Logout </ion-item> </ion-list> </ion-content></ion-view>